body {
  width: 80%;
  margin: 20px auto;
  font-family: Caladea, serif;
}

@media screen and (max-width: 1000px) {
  body {
    width: 840px;
    margin: 20px auto;
    font-family: Caladea, serif;
    line-height: 150%;
  }
}

header {
  display: flex;
  justify-content: space-between;
  height: 12em;
}

.photo {
  width: 25%;
}

.user-name {
  width: 75%;
  padding-left: 20px;
  margin-left: 30px;
}

img {
  display: block;
  height: 100%;
  margin: auto;
}

.container {
  display: flex;
  justify-content: space-between;
  line-height: 150%;
}

.contact {
  width: 25%;
  padding-left: 20px;
  border-top: 4px solid #7fffd4;
}

.about-me {
  width: 75%;
  padding-left: 20px;
  margin-left: 30px;
  border-top: 4px solid #7fffd4;
}

a {
  text-decoration: none;
}

